<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新增公告</title>
</head>

<body>
    <div>
        {include file="menu"/}
        <h1>
            <center>新增公告</center>
        </h1>
        <div>
            <form method="POST" action="index/home/insertreq" onsubmit="return validateForm()">
                <center>請輸入標題:
                    <br/>
                    <br/>
                    <input name="title" id="title" placeholder="今天的標題是甚麼呢？">
                </center>
                <center>您是誰:
                    <br/>
                    <br/>
                    <input name="author" placeholder="請輸入大名" required>
                </center>
                <center>今天要說些甚麼呢
                    <br/>
                    <br/>
                    <textarea name="message" id="message" rows="7" cols="50">
                </textarea>
                </center>
                <center>
                    <button type="submit" value="Submit">送出</button>
                    <button type="reset" value="Reset">清除</button>

                </center>
            </form>


        </div>
    </div>
</body>
<script type="text/javascript" src="/static/js/verification.js"></script>

</html>