<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="/static/css/style.css" type="text/css" /> -->
    <title>查看公告</title>
</head>

<body>
    <div>
        {include file="menu"/}
        <h1>
            <center>查看公告</center>
        </h1>
        <div>
            <center>
                <!-- 由新往舊排序 -->
                {for start="count($data)-1" end="0" comparison=">=" step="-1" name="i"}
                <p>標題:{$data[$i]["title"]} </p>
                <p> 作者: {$data[$i]["author"]}</p>
                </p>
                內文:
                <br/>
                <textarea class="message" rows="7" cols="50"> {$data[$i]["article"]}</textarea>
               
                {/for}


            </center>


        </div>

    </div>
</body>

</html>